* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    /**background-color: #051C2C;*/
    background-color:black;
    background-image:
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
        radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

#menu {
    position: absolute;
    top:0em;
    left:0em;
}

#menubars {
    position:sticky;
    display:block;
    width:2em;
    height:2em;
    object-fit:fill;
}

#menubars.active + .collapsible {
    display:grid;
    background-color: rgba(0,0,0,0.75);
    position:absolute;
    width: 10%;
    height:50%;
    margin-top:1em;
    margin-bottom:0em;
    padding-bottom:0em;
}

#menubars.active + .collapsible a {
  text-decoration:none;
  font-size:1em;
  margin-top:0em;
  margin-bottom:0em;
  padding-top:1em;
  padding-bottom:1em;
  padding-left:0em;
  text-align:center;
  text-justify:center;
  color: #893C47;
}

#menubars.active + .collapsible a.grey {
  background-color:rgba(128,128,128,0.5);
}

h1 {
    text-align:center;
    color: #893C47;
    margin-top: 1em;
}

.content {
    width: 60%;
    padding: 1em;
    margin: auto;
    margin-top:1em;
    border: black solid 2px;
    background-color:#E2DFD0;
    opacity: 100%;
    color: #314D5E;
    align-content: center;
}

.progress-bar {
    width: 60%;
    padding: 1em;
    margin: auto;
    margin-top:1em;
    border: black solid 2px;
    background-color:#E2DFD0;
    opacity: 100%;
    color: #314D5E;
    align-content: center;
  }

.collapsible {
    /* background-color: rgb(129, 123, 123);
    justify-content: center;
    color: rgb(70, 85, 114);
    display: flex;
    cursor: pointer;
    padding: 18px;
    width: 99%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px; */
    display:none;
}

.collapse-trigger {
  font-size:1.5em;
}

.collapse-trigger.active + .collapsible {
    display: block;
}

.collapse-trigger::after {
    content: "▼";
    float: right;
}

.collapse-trigger.active::after {
    content: "▲";
    float: right;
}


/* .active, .collapsible:hover {
    background-color: rgb(202, 202, 202);
} */


#topics a:link, #topics a:visited {
    color:#C15933;
    text-decoration: none;
}

#topics a:hover {
    color:#426A5A;
    text-decoration: none;
}

#topics a:active {
    color: #C15933;
    text-decoration: none;
}

#extras a:link, #extras a:visited {
    color:#C15933;
    text-decoration: none;
}

#extras a:hover {
    color:#426A5A;
    text-decoration: none;
}

#extras a:active {
    color: #C15933;
    text-decoration: none;
}

#search {
  display: block;
  margin: auto;
  margin-top:1em;
}

footer {
    position:fixed;
    bottom:0;
    width: 100%;
    background-color:black;
}

.footer-nav ol {
    list-style-type:none;
}
  

.footer-nav {
    position:fixed;
    bottom:0;
    width: 100%;
    background-color:black;
}

.footer-link {
    display:inline;
    color:#C15933;
    position: left;
}

.footer-link a:link, .footer-link a:visited {
    color:#C15933;
    text-decoration: none;
}

.footer-link a:hover {
    color:#426A5A;
    text-decoration: none;
}

.footer-link a:active {
    color: #C15933;
    text-decoration: none;
}