* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #051C2C;
}

h1 {
    text-align:center;
    color: #893C47;
    margin-top: 1em;
}


.content {
    width: 60%;
    padding: 1em;
    margin: auto;
    margin-top:1em;
    border: black solid 2px;
    background-color:white;
    opacity: 30%;
    color: #314D5E;
    align-content: center;
}

.progress-bar {
    width: 60%;
    padding: 1em;
    margin: auto;
    margin-top:1em;
    border: black solid 2px;
    background-color:#FAF9F6;
    opacity: 100%;
    color: #314D5E;
    align-content: center;
  }

.collapsible {
    /* background-color: rgb(129, 123, 123);
    justify-content: center;
    color: rgb(70, 85, 114);
    display: flex;
    cursor: pointer;
    padding: 18px;
    width: 99%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px; */
    display:none;
}

.collapse-trigger {
  font-size:1.5em;
}

.collapse-trigger.active + .collapsible {
    display: block;
}

.collapse-trigger::after {
    content: "▼";
    float: right;
}

.collapse-trigger.active::after {
    content: "▲";
    float: right;
}

/* .active, .collapsible:hover {
    background-color: rgb(202, 202, 202);
} */


#topics a:link, #topics a:visited {
    color:#C15933;
    text-decoration: none;
}

#topics a:hover {
    color:#426A5A;
    text-decoration: none;
}

#topics a:active {
    color: #C15933;
    text-decoration: none;
}

#extras a:link, #extras a:visited {
    color:#C15933;
    text-decoration: none;
}

#extras a:hover {
    color:#426A5A;
    text-decoration: none;
}

#extras a:active {
    color: #C15933;
    text-decoration: none;
}

#search {
  display: block;
  margin: auto;
  margin-top:1em;
}

footer {
    position:fixed;
    bottom:0;
    width: 100%;
    background-color:black;
}

.footer-nav ol {
    list-style-type:none;
}
  

.footer-nav {
    position:fixed;
    bottom:0;
    width: 100%;
    background-color:black;
}

.footer-link {
    display:inline;
    color:#C15933;
    position: left;
}

.footer-link a:link, .footer-link a:visited {
    color:#C15933;
    text-decoration: none;
}

.footer-link a:hover {
    color:#426A5A;
    text-decoration: none;
}

.footer-link a:active {
    color: #C15933;
    text-decoration: none;
}